@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lato", sans-serif;
  font-size: calc(0.775rem + 0.5vw);
  margin: 0 auto;
}
main .container {
  padding: 2rem;
  text-align: center;
  /* display: flex;
  justify-content: center;
  text-align: center;
  align-items: center; */
}
.box {
  max-width: 980px;
  justify-content: center;
  margin: 0 auto;
}

main .container .box .logo img {
  width: 100px;
}
main .container .box .project_name h1 {
  font-weight: bold;
}
main .container .box .project_tagline h3 {
  font-weight: 400;
}
main .container .box .paragraph {
  color: #555555;
  margin: 2rem 0rem;
  /* text-align: center; */
}
main .container .box .paragraph p {
  font-weight: 400;
  width: auto;
}
main .container .box .button {
  margin: 2rem 0rem;
}

main .container .box .btn-download a {
  margin: 0rem 1rem;
  font-weight: bold;
  text-decoration: none;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  /* Change colors according to your theme */
  background-color: #376aef;
  color: #f3f3f3;
}
main .container .box .btn-github a {
  font-weight: bold;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  /* Change colors according to your theme */
  background-color: transparent;
  color: #121212;
}
main .container .box .btn-download a:hover {
  background-color: #4173f0;
  transition: 100ms linear;
}
/* main .container .box .code {
  font-family: monospace;
  background-color: #ddd;
  border-radius: 3px;
  color: #333;
  font-weight: 300;
  margin: 0.5em 0;
  padding: 0.8rem 0.5rem;
} */

main .container .footer-icons nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  -ms-align-items: center;
  align-items: center;
}

main .container .footer-icons nav p {
  margin: 2rem 1rem;
}

main .container .footer-icons nav p a {
  color: #aaa;
}
main .container .footer-icons nav p a:hover {
  color: #376aef;
  transition: 200ms linear;
}

main .container .footer-text p {
  color: #aaa;
}
main .container .footer-text p a {
  color: #aaa;
}
